* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: #44E3D3;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  gap: 15px;
  color: black; }

h1 {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  height: 100%;
  width: 40%;
  padding-bottom: 5px; }

h2 {
  text-align: center;
  text-decoration: overline underline;
  color: black;
  font-size: 35px;
  padding-top: 3px; }

nav {
  width: 70%; }
  nav ul {
    display: flex; }
    nav ul li {
      display: flex;
      flex-direction: row;
      flex-wrap: space-between;
      justify-content: center;
      align-items: wrap;
      gap: 10px;
      width: 100%; }
      nav ul li a {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        color: black;
        list-style: none; }
        nav ul li a:hover {
          color: antiquewhite;
          font-size: 22px; }

main {
  background-color: #3D5A73;
  width: 100; }

article {
  background-color: #009688;
  border-radius: 20px; }

footer {
  width: 100%;
  height: 0;
  bottom: 100px;
  background-color: #2F3D40; }
  footer p {
    width: 100%;
    border: 10px; }

p {
  padding: 10px; }

.direcion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: space-around;
  gap: 30px;
  background-color: #44E3D3;
  border-radius: 10px; }
  .direcion p {
    text-align: center;
    color: black; }
    .direcion p a {
      list-style: none; }

.lista_artistas {
  display: flex;
  flex-direction: row;
  flex-wrap: space-between;
  justify-content: center;
  align-items: wrap;
  gap: 10px;
  width: 100%; }
  .lista_artistas a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
    list-style: none; }
    .lista_artistas a:hover {
      color: antiquewhite;
      font-size: 22px; }

img {
  width: 300px;
  height: 250px; }

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 100px; }
  nav {
    height: 100%; } }

@media (min-width: 320px) {
  header {
    padding: 4px 0px 4px 0px; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: space-between;
    justify-content: #222121;
    align-items: start;
    gap: 10px;
    width: 100%;
    margin: 10px; }
    nav ul li {
      list-style: none;
      text-align: start; }
  section {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: space-between;
    justify-content: #222121;
    align-items: start;
    gap: 10px;
    width: 100%;
    border-style: solid;
    border-color: cadetblue; } }
